{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": 17,
          "firefox": 60,
          "chrome": 67
        },
        "corejs": "2",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
